@font-face{
  font-family: myFontSnes;
  src: url(./assets/fonts/snes-font/SnesItalic-1G9Be.ttf) format("truetype");
}

@font-face{
  font-family: myFontHack;
  src: url(./assets/fonts/hackbot-font/HackbotFreeTrial-8MgA2.otf) format("opentype");
}

body {
  background: rgb(255, 210, 85);
  margin: 0px;
}

li {
  list-style-type: none;
  text-align: center;
}

#canvas {
  padding: 0;
  border: 5px solid rgb(214, 115, 217);
}

#bunny, #bunnySpriteRunRight, #bunnySpriteRunLeft, 
  #bunnySpriteStandRight, #bunnySpriteStandLeft,
  #bunnySpriteDieRight, #bunnySpriteDieLeft,
  #ghost {
  display: none;
}

a {
  color: inherit;
}

a:link { 
  text-decoration: none; 
}

h1 {
  font-family: "myFontHack", "myFontSnes", 'Courier New';
  font-size: 35px;
  width: 100%;
  text-align: center;
}

#container { 
  width: 400px;
  display: grid;
  grid-template-rows: auto auto auto; 
  grid-template-columns: 1fr;
  grid-gap:10px;
  justify-content: center;
  margin: 0 auto; 
}

.container_header {
  margin-bottom: -25px;
}

#navigation_bar {
  text-align: right;
  position: relative;
  right: 181px;
}

.navigation_bar_ul {
  text-align: center;
  display: inline;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation_bar_ul li {
  display: inline;
  margin-right: 10px;
}


[data-title]:hover:after {
  opacity: 1;
  transition: all 0.2s ease-in-out;
  visibility: visible;
  font-size: 18px;
  font-weight: 700;
  font-style: bold;
}

[data-title]:after {
  content: attr(data-title);
  position: absolute;
  bottom: -50px;
  left: -70px;
  padding: 6px;
  color: black;
  white-space: nowrap; 
  -moz-border-radius: 8px; 
  -webkit-border-radius: 8px;  
  border-radius: 8px;  
  -moz-box-shadow: 0px 0px 4px #222;  
  -webkit-box-shadow: 0px 0px 4px #222;  
  box-shadow: 0px 0px 4px #222;  
  opacity: 0;
  z-index: 99999;
  visibility: hidden;
  font-family: sans-serif;
  background-color: white;
  font-size: 12px;
  font-weight: 700;
  font-style: bold;
}

[data-title] {
  position: relative;
  font-size: 12px;
  font-weight: 700;
  font-style: bold;
}

#canvas_container {
  display: flex;
  position: relative;
  right: -120px;
}

#instructions {
  font-family: 'Courier New';
  font-size: 20px;
  text-align: center;
  margin-top: 40px;
  margin-left: 10px;
  width: 300px;
}

.instructions_header{
  text-align: center;
}

.instructions_paragraph {
  text-align: left;
}

.instructions_paragraph span {
  font-size: 40px;
  font-weight: 600;
}



